body {
    background-color: #FBFAF3;
    font-family:monospace;
    margin: 0px;
}

nav {
    background-color: #FBFAF3;
    font-size: 15px;
    color: #00100B;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
}

.nav-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 15px;
}

.nav-logo {
    grid-column: span 1;
}

.nav-logo img {
    width: 160px;
}

.nav-item {
    text-align: center;
    position: relative;
}

.nav-item a {
    text-decoration: none;
    color: #00100B;
    padding: 10px 20px;
}

.nav-item:hover a {
    color: #51318F;
    font-weight: bold;
}

.dropdown-content-1,
.dropdown-content-2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    text-align: left;
}

.dropdown-content-1 a,
.dropdown-content-2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-1 a:hover,
.dropdown-content-2 a:hover {
    background-color: #f1f1f1;
}

.nav-item:nth-child(4):hover .dropdown-content-1,
.nav-item:nth-child(5):hover .dropdown-content-2 {
    display: block;
}


article{
    color: #00100B;
    text-align: left;
    margin-top: 120px;
    margin-left: 800px;
}

article ol {
    list-style-type: none;
    padding: 0;
    margin-left: -600px;
    text-align: left;
}

article ol li {
    display: inline-block;
    margin-right: 0px;
    width: auto;
    vertical-align: top;
}

article h1{
    font-size: 25px;
    margin-bottom: 30px;
    color: #CC7DB1
}

article h2{
    font-size: 16px;
}

footer {
    margin-top: 10%;
    background-color: #51318F;
    color: #FBFAF3;
    text-align: center;
    padding: 20px;
}

footer div h3 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.footer-section {
    text-align: left;
    padding: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p, .footer-section a {
    margin: 5px 0;
}

.footer-section a {
    color: #FBFAF3;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.grid-item {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
    overflow: hidden;
}

.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(204, 125, 177, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.grid-item .web-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
    top: 20px;
    left: 20px;
}

.grid-item .enlarge-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
    top: 260px;
    left: 260px;
}

/* 當鼠標懸停在圖片上時，顯示覆蓋層和叉叉圖示 */
.grid-item:hover .overlay {
    opacity: 1;
}

.grid-item:hover .web-icon {
    opacity: 1;
}

.grid-item:hover .enlarge-icon {
    opacity: 1;
}

.modal {
    display: none; /* 默認隱藏 */
    position: fixed;
    z-index: 100; /* 保證在最上層 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255,255,255,0.7);
    justify-content: center;
    align-items: center;
}

/* 模態框內容圖片 */
.modal-content {
    margin: auto;
    margin-top: 5%;
    display: block;
    width: 35%;
}

/* image-container */
.image-container .hover-image {
    position: absolute;
    top: 10px;
    left: 120px;
    width: 100%; /* 確保圖片大小和容器一致 */
    opacity: 0; /* 初始設定為透明 */
    transition: opacity 0.3s ease; /* 平滑過渡效果 */
    pointer-events: none; /* 防止圖片攔截鼠標事件 */
}

.image-container:hover .hover-image {
    opacity: 1; /* 滑鼠懸停時讓圖片顯現 */
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .nav-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nav-logo img {
        width: 120px;
    }

    .dropdown-content-1 {
        left: 47%;
    }
}


@media (max-width: 480px) {

    .footer-grid {
        grid-template-columns: 1fr;
    }

    .nav-grid {
        grid-template-columns: 1fr;
    }

    .nav-logo img {
        width: 120px;
    }

    .dropdown-content-1 {
        left: 38%;
    }
}
